{% extends 'base.html' %}

{% block content %}

<form method="POST"> {% csrf_token %}
	{% if length == 0 %}
	<h2>You didn't have any labels</h2>
	
	
	{% else %}
	<h2> Please choose the label you want to delete. </h2>
	Your current Labels are:
	<br>
	<br>
		{% for i in all_labels %}
		<label for="radio"> {{i.labels}}: </label>
		<input id="radio" type="radio" name="selected" value="{{i.labels}}" required>
		<br>
		<br>
		{% endfor %}
	<br>
	<br>
	<input type="submit" value="Update">
	{% endif %}

	
</form>

	
{% endblock %}